/* Custom CSS */

.panel-body {
	position:relative;
}

.panel-body .btn.copy-btn {
	position: absolute;
	right: 15px;
	top: 15px;
}

#bug {
	background-image: url("../images/bug.png");
	height:31px;
	position: absolute;
	width:24px;
	z-index: 10000;
}